openapi: 3.1.0
info:
  title: Restful API Dev Objects API
  description: A simple RESTful API for managing a collection of objects representing various consumer electronics and devices.
  version: 1.0.0
servers:
  - url: https://api.restful-api.dev
    description: Production server

paths:
  /objects:
    get:
      summary: List all objects
      description: Returns a list of all objects stored in the collection.
      operationId: listObjects
      tags:
        - Objects
      responses:
        '200':
          description: A JSON array of object items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Object'
    post:
      summary: Create a new object
      description: Creates a new object and adds it to the collection.
      operationId: createObject
      tags:
        - Objects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectInput'
      responses:
        '200':
          description: The newly created object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
        '400':
          description: Bad request — invalid input

  /objects/{id}:
    get:
      summary: Get a single object by ID
      description: Retrieves a single object by its unique identifier.
      operationId: getObjectById
      tags:
        - Objects
      parameters:
        - name: id
          in: path
          required: true
          description: The unique identifier of the object
          schema:
            type: string
      responses:
        '200':
          description: The requested object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
        '404':
          description: Object not found
    put:
      summary: Replace an object by ID
      description: Fully replaces an existing object identified by its ID.
      operationId: replaceObjectById
      tags:
        - Objects
      parameters:
        - name: id
          in: path
          required: true
          description: The unique identifier of the object to replace
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectInput'
      responses:
        '200':
          description: The updated object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
        '400':
          description: Bad request — invalid input
        '404':
          description: Object not found
    patch:
      summary: Partially update an object by ID
      description: Partially updates an existing object identified by its ID.
      operationId: patchObjectById
      tags:
        - Objects
      parameters:
        - name: id
          in: path
          required: true
          description: The unique identifier of the object to update
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectInputPartial'
      responses:
        '200':
          description: The patched object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
        '400':
          description: Bad request — invalid input
        '404':
          description: Object not found
    delete:
      summary: Delete an object by ID
      description: Deletes an existing object identified by its ID.
      operationId: deleteObjectById
      tags:
        - Objects
      parameters:
        - name: id
          in: path
          required: true
          description: The unique identifier of the object to delete
          schema:
            type: string
      responses:
        '200':
          description: Confirmation message of deletion
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Object with id = 1 has been deleted."
        '404':
          description: Object not found

components:
  schemas:
    Object:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the object
          example: "1"
        name:
          type: string
          description: The name of the object
          example: "Google Pixel 6 Pro"
        data:
          description: A flexible key-value map of additional attributes for the object; may be null
          oneOf:
            - type: object
              additionalProperties:
                oneOf:
                  - type: string
                  - type: number
                  - type: integer
            - type: 'null'
      required:
        - id
        - name

    ObjectInput:
      type: object
      properties:
        name:
          type: string
          description: The name of the object
          example: "Google Pixel 6 Pro"
        data:
          description: A flexible key-value map of additional attributes; may be null
          oneOf:
            - type: object
              additionalProperties:
                oneOf:
                  - type: string
                  - type: number
                  - type: integer
            - type: 'null'
      required:
        - name

    ObjectInputPartial:
      type: object
      properties:
        name:
          type: string
          description: The name of the object
          example: "Google Pixel 6 Pro"
        data:
          description: A flexible key-value map of additional attributes; may be null
          oneOf:
            - type: object
              additionalProperties:
                oneOf:
                  - type: string
                  - type: number
                  - type: integer
            - type: 'null'